#! /usr/bin/env bash
# SPDX-FileCopyrightText: 2022-2025 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: Apache-2.0

# try to use flake initially, fallback to non-flake use otherwise
if [[ " $(nix show-config experimental-features 2>/dev/null) " == *' flakes '* ]]; then
  use flake
else
  use nix
fi
