# SPDX-FileCopyrightText: 2022-2025 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: Apache-2.0

result
result-*
.terraform
.terraform.*
terraform.tfstate
terraform.tfstate.backup
.idea
.direnv
*.tmp
.env
.pre-commit-config.yaml
/*.qcow2
ca.key
