# SPDX-FileCopyrightText: 2023 Technology Innovation Institute (TII)
#
# SPDX-License-Identifier: Apache-2.0

# Nix
result
result-*

# Terraform
.terraform
.terraform.*
terraform.tfstate
terraform.tfstate.backup