# SPDX-FileCopyrightText: 2022-2026 TII (SSRC) and the Ghaf contributors
#
# SPDX-License-Identifier: Apache-2.0

# Checks that run on github hosted runners and don't need authorization

name: check
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
permissions:
    contents: read
jobs:
    run-checks:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                  egress-policy: audit
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  persist-credentials: false
            - name: Install nix
              uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
            - name: Nix flake check with no build
              run: nix flake check --option allow-import-from-derivation false --no-build
